td {
	border: 1px solid;
	color: white;
  }
  
body { background-image: url("../images/background.jpg"); }

h1 {
  color: white;
  margin-left: 20px;
}

table {
  width: 100%;
}

th {
  height: 20px;
  color: white;
}

tr:hover 
{background-color: navy;}



